<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Coding Temple Website</title>
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Muli" rel="stylesheet">
        <link href='assets/css/main.css' type='text/css' rel='stylesheet' />
    </head>
    <body>
    
    
        <header class="container">
            <div class=col-1-3>
                    <img src="https://raw.githubusercontent.com/CodingTemple/CodingTempleWebsite/master/images/logo.png" >
            </div>
            <nav class="col-2-3">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/cs/courses">Courses</a>
                    </li>
                    <li>
                        <a href="/cs/students">Students</a>
                    </li>
                    <li class="alt-link">
                        <a href="/cs/apply">Apply Now</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="clearfix"></div>

        <section class="container">
            <div class="col-1-2">
                <h2> Classes </h2>
                <article>
                    <p>Coding Temple offers classes at our two campuses located in Schaumburg, and Chicago. Currently we offer full and part-time classes. Our next classes start January 4th, 2016. </br><a href="apply.html">Start your application...</a></p>
                </article>
            </div>
            <div class="col-1-2">
                <img src="https://raw.githubusercontent.com/CodingTemple/CodingTempleWebsite/master/images/classes.png" >
            </div>
        </section>

        <div class="clearfix"></div>

        <section class="container">
            <div class="col-1-2">
                <img src="https://raw.githubusercontent.com/CodingTemple/CodingTempleWebsite/master/images/curriculum.png" >
            </div>
            <div class="col-1-2">
            <h2> Course Curriculum </h2>
                <article>
                    <p>Technologies covered: JavaScript, C#, ASP.NET MVC, Entity Framework, HTML/CSS, SQL, Git, and more! We will also teach you how to learn as our end goal is to make you adaptable to other similar technologies and future technologies.</br><a href="courses.html">View the curriculum...</a></p>
                </article>
            </div>
        </section>

        <div class="clearfix"></div>

        <section class="container">
            <div class="col-1-2">
                <h2> Current Students </h2>
                <article>
                    <p>Our current cohort consists of students from various backgrounds and knowledge about the IT industry. 
                        </br><a href="students.html">View more on our students...</a></p>
                </article>
            </div>
            <div class="col-1-2">
                <img src="https://raw.githubusercontent.com/CodingTemple/CodingTempleWebsite/master/images/students.png" >
            </div>
        </section>
        <div class="clearfix"></div>
        <footer class="container">
            <section id="first" class="col-1-3">
                <img src="https://raw.githubusercontent.com/CodingTemple/CodingTempleWebsite/master/images/logo_small.png" >
                <p> The skills and experience that students achieve at Coding Temple takes them a long way. We offer small classes, so students are able to have a more one on one interaction with our teachers. Our curriculum is designed to make students feel confident and be successful in the workforce once they have completed our course.</p>
            </section>
            <section id="second" class="col-1-3">
                <h3>Quick Links</h3>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <span class="bull">&bull;</span>
                    <li>
                        <a href="/cs/courses">Courses</a>
                    </li>
                    <span class="bull">&bull;</span>
                    <li>
                        <a href="/cs/students">Students</a>
                    </li>
                    <span class="bull">&bull;</span>
                    <li>
                        <a href="/cs/apply">Apply Now</a>
                    </li>
                </ul>
            </section>
            <section id="third" class="col-1-3">
                <aside>
                    <h3>222 W. Ontario</h3>
                    <h3>Suite 450</h3>
                    <h3>Chicago, Il 60654</h3>
                </aside>
            </section>
            <div class="clearfix"></div>
        </footer>
        
    </body>
</html>