h1 {
    font-family: Muli, Georgia, 'Times New Roman', Times, serif;
}

p, a {
    font-family: Merriweather, 'Times New Roman', Times, serif;
    font-size: 14px;
}

nav a {
    margin: 0 5px 0 0;
}