* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 960px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
}

body {
    color: black;
    font-weight: 300px;
    font-size: 16px;
    line-height: 22px;
    font-family: Merriweather, "Open Sans", "Helvetica Neue";
}

h1, h2 {
    color: #45a2da;
}

h2 {
    font-size: 14px;
    font-weight: 400px;
    text-transform: uppercase;
}

header a {
    color: black;
}

nav {
    text-align: right;
}

a {
    text-decoration: none;
}

a:hover {
    color: #45a2da;
}

footer a {
    color: white;
}

